@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
  /* scroll-padding-top: 100px; */
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

.font-dancing {
  font-family: "Dancing Script", cursive;
}

.font-comfortaa {
  font-family: "Comfortaa", sans-serif;
}

.font-great-vibes {
  font-family: "Great Vibes", cursive;
}

/* Custom style cho AddToCalendarButton */

@keyframes shake {
  0%,
  91%,
  100% {
    transform: translateX(0);
  }
  92% {
    transform: translateX(-3px);
  }
  94% {
    transform: translateX(3px);
  }
  96% {
    transform: translateX(-3px);
  }
  98% {
    transform: translateX(3px);
  }
}

.shake {
  animation: shake 5.5s ease-in-out infinite;
}

/* Nút chính */
.atcb-button {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #c19a9a;
  color: #48332c;
  border-radius: 9999px; /* bo tròn full */
  text-align: center;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  background: white;
}

.atcb-button:hover {
  background-color: #48332c;
  color: #fff;
}

/* Dropdown menu */
.atcb-list {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.atcb-list-item {
  padding: 0.5rem 1rem;
  font-size: 0.875rem; /* text-sm */
  color: #374151;
  cursor: pointer;
  transition: background 0.2s;
}

.atcb-list-item:hover {
  background: #f3f4f6; /* bg-gray-100 */
}

@keyframes snow-fall {
  0% {
    transform: translate(0vw, -100%);
  }
  50% {
    transform: translate(5vw, 50vh);
  }
  100% {
    transform: translate(0vw, 100vh);
  }
}

.animate-snow-fall {
  animation-name: snow-fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
